/***********************************************************************************************************************
***************************************************MAIN CSS*************************************************************
***********************************************************************************************************************/
@font-face {
    font-family: space;
    src: url('../fonts/space%20age.otf');
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}
h1,h2,h3{
    font-family: space !important;
    /*color: #FFFFFF !important;*/
    color: #25BBFF !important;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
h4{
    font-family: space !important;
}
button{
    font-family: space !important;
}
.navbar{
    background-color: transparent;
    border: transparent;
}
.navbar, .navbar a{
    font-family: space;
    /*color: #FFFFFF !important;*/
    color: #25BBFF !important;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.navbar a:hover{
    color: #FE980F !important;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #1A1A1A;
    font-family: space;
}
.logo-span{
    color: #FE980F;
}
/***************************BREADCRUMBS BEGIN*************************/
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
#breadcrumbs{
    background: #eee;
    border-width: 1px;
    border-style: solid;
    border-color: #f5f5f5 #e5e5e5 #ccc;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    overflow: hidden;
    width: 100%;
}
#breadcrumbs li{
    float: left;
}
#breadcrumbs a{
    padding: .7em 1em .7em 2em;
    float: left;
    text-decoration: none;
    color: #444;
    position: relative;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    background-color: #ddd;
    background-image: linear-gradient(to right, #f5f5f5, #ddd);
}
#breadcrumbs li:first-child a{
    padding-left: 1em;
    border-radius: 5px 0 0 5px;
}
#breadcrumbs a:hover{
    background: #fff;
}
#breadcrumbs a::after,
#breadcrumbs a::before{
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-top: 1.5em solid transparent;
    border-bottom: 1.5em solid transparent;
    border-left: 1em solid;
    right: -1em;
}
#breadcrumbs a::after{
    z-index: 2;
    border-left-color: #ddd;
}
#breadcrumbs a::before{
    border-left-color: #ccc;
    right: -1.1em;
    z-index: 1;
}
#breadcrumbs a:hover::after{
    border-left-color: #fff;
}
#breadcrumbs .current,
#breadcrumbs .current:hover{
    font-weight: bold;
    background: none;
}
#breadcrumbs .current::after,
#breadcrumbs .current::before{
    content: normal;
}
/***************************BREADCRUMBS END*************************/

/***********************************************************************************************************************
************************************************PARALLAX SECTION********************************************************
***********************************************************************************************************************/
#video-carousel-section{
    background-image: url("../images/race-day-bw.jpg");
    height: 300px;
}
#descriptor-section{
    background-image: url("../images/white-wool.jpg");
}
.descriptor-section{
    height: 1200px;
}
.descriptor-separator-section-one{
    background-image: url("../images/race-day-bw-crop-darker.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0px;
    height: 300px;
}
.descriptor-separator-section-two{
    background-image: url("../images/turbo-car-bw.jpg");
    background-position: 50% 0px;
    height: 300px;
}
.descriptor-text{
    margin-top: 5%;
}
.descriptor-icon{
    height: 250px;
    width: 250px;
    margin-top: 5%;
}
/***********************************************************************************************************************
************************************************MAIN CAROUSEL***********************************************************
***********************************************************************************************************************/
.carousel {
    height: 700px;
    /*margin-bottom: 60px;*/
}
.carousel-caption {
    z-index: 10;
}
.carousel .item {
    height: 700px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 700px;
}
.carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
}
/**********CHANGING DEFAULT CAROUSEL CONTROLS************/
.carousel-control{
    font-size: 15px;
    width: 10%;
    color: #25BBFF;
}
.carousel-control.left{
    background-image: none;
}
.carousel-control.right{
    background-image: none;
}
/***********************************************************************************************************************
**************************************************SEARCH SLIDE**********************************************************
***********************************************************************************************************************/
#carousel-search-container{
    margin-top:55%;
}
.carousel-search-heading{
    color: #25BBFF;
}
.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.carousel-search-button{
    padding: 0px 10px 0px 10px;
}
/***********************************************************************************************************************
**************************************************LOGIN SLIDE***********************************************************
***********************************************************************************************************************/
#carousel-form {
    display: block;
    overflow: hidden;
}
.carousel-form-row{
    margin-top: 17%;
    margin-left: 5%;
    margin-right: 5%;
}
.login-form h2, .signup-form h2 {
    color: #F0F0E9;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 30px;
}
.login-form form input, .signup-form form input {
    background: #F0F0E9;
    border: medium none;
    color: #696763;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    height: 40px;
    margin-bottom: 10px;
    outline: medium none;
    padding-left: 10px;
    width: 100%;
}
.login-form form span{
    line-height: 25px;
}
.login-form form span input {
    width: 15px;
    float: left;
    height: 15px;
    margin-right: 5px;
}
.login-form form button {
    margin-top: 23px;
}
.login-form form button, .signup-form form button {
    background: #25BBFF;
    border: medium none;
    border-radius: 5px;
    color: #FFFFFF;
    display: block;
    font-family: 'Roboto', sans-serif;
    padding: 6px 25px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.login-form form button:hover, .signup-form form button:hover {
    background: #25BBFF;
    border: medium none;
    border-radius: 5px;
    color: #FFFFFF;
    display: block;
    font-family: 'Roboto', sans-serif;
    padding: 6px 25px;
    text-shadow: 0px 0 black, 0 0px black, 0px 0 black, 0 0px black;
}
.login-form label{

}
.login-form label input {
    border: medium none;
    display: inline-block;
    height: 0;
    margin-bottom: 0;
    outline: medium none;
    padding-left: 0;
}
.or{
    background-color: transparent;
    border-radius: 40px;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    margin-top: 75px;
    text-align: center;
    width: 50px;
}
/***********************************************************************************************************************
********************************************+******SHOP SLIDE***********************************************************
***********************************************************************************************************************/
.carousel-shop-container{
    margin-bottom: 20%;
}
.carousel-shop-button{
    background: #25BBFF;
    border: medium none;
    border-radius: 5px;
    color: #FFFFFF;
    display: block;
    font-family: 'Roboto', sans-serif;
    padding: 6px 25px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
}
.carousel-shop-button:hover{
    background: #25BBFF;
    border: medium none;
    border-radius: 5px;
    color: #FFFFFF;
    display: block;
    font-family: 'Roboto', sans-serif;
    padding: 6px 25px;
    text-shadow: 0px 0 black, 0 0px black, 0px 0 black, 0 0px black !important;
}
/***********************************************************************************************************************
***********************************************VIDEO CAROUSEL***********************************************************
***********************************************************************************************************************/
#vid-container{
    padding:0px 0px 0px 0px !important;
    margin:0px 0px 0px 0px !important;
    width:100%;
}
.well{
    margin-bottom: 0px !important;
    padding: 0px !important;
    border: none !important;
}
.carousel-inner.onebyone-carosel {
    margin: auto;
    width: 100%;
}
.onebyone-carosel .active.left {
    left: -33.33%;
}
.onebyone-carosel .active.right {
    left: 33.33%;
}
.onebyone-carosel .next {
    left: 33.33%;
}
.onebyone-carosel .prev {
    left: -33.33%;
}
/***********************************************************************************************************************
**************************************************DESCRIPTORS***********************************************************
***********************************************************************************************************************/



/***********************************************************************************************************************
************************************************BOTTOM SIGNUP***********************************************************
***********************************************************************************************************************/
.signup-container{
    background-image: url("../images/guys-car-bw-crop-darker.jpg");
    background-repeat: no-repeat;
    height: 700px;
    width: auto;
    position: static;
}
.signup-form-group{
    position: relative;
    top: 30%;
}
.signup-form-group label{
    color: #FFFFFF;
    font-family: space;
}
.email-form, .password-form, .username-form{
    background-color: transparent !important;
    color: #FFFFFF;
}
.email-form::-webkit-input-placeholder,
.password-form::-webkit-input-placeholder,
.username-form::-webkit-input-placeholder{
    ackground-color: transparent !important;
    color: #FFFFFF;
    font-family: space;
}
.submit-button{
    background-color: transparent !important;
    color: #FFFFFF;
}
/***********************************************************************************************************************
************************************************ACCOUNT PAGE***********************************************************
***********************************************************************************************************************/
.account-container{
    background-color: #E4E6E7;
    width: 100%;
}
.account-tabs li{
    border: solid #D5D5D5 1px;
    border-radius: 5px;
    background-color: #FFFFFF;
}
.tab-row{
    border: solid #D5D5D5 1px;
    background-color: #FFFFFF;
}
/*---------PROFILE TAB BEGIN-----------*/
.profile-image{
    height: 250px;
    width: 200px;
}
#profile-content{
    margin-top: 40px;
}
#profile-tab, #vehicles-projects-tab, #friends-tab, #photos-tab{
    padding-top: 90px;
    margin-top: -90px;
}
/*---------PROFILE TAB END-----------*/
/*---------FRIENDS TAB BEGIN-----------*/
#friends-tab{
    box-sizing: border-box;
}
#friends-tab ul li{
    width: auto;
    min-width: 225px;
    border: 1px solid #e9ebec;
    background: #f7f7f8;
    float: left;
    padding: 5px;
    margin: 5px 0 5px 5px;
    white-space: nowrap;
    overflow: hidden;
}
#friends-tab ul li div{
    text-align: center;
}
.avatar img{
    height: 80px;
    width: 70px;
}
/*.friends-list li{*/
   /*width: 200px !important;*/
/*}*/
.friends-list li .avatar{
    float: left;
}
/*---------FRIENDS TAB END-----------*/
/*---------PHOTOS TAB BEGIN-----------*/
#photos-tab div{
    display: inline-block;
}
#photo-thumbnail{
    width:140px;
    height:175px;
    margin: 5px 5px 5px 0px;
}
/*---------PHOTOS TAB END-----------*/

